<template>
  <div class="container-fluid">
    <div class="row">

      <div class="col-xl-3 col-md-6">
        <stats-card>
          <div slot="header" class="icon-warning">
            <i class="nc-icon nc-map-big text-warning"></i>
          </div>
          <div slot="content">
            <p class="card-category">Total distancia</p>
            <h4 class="card-title" id="taxi-total-distance"></h4>
          </div>
          <div slot="footer">
            <i class="fa fa-refresh"></i>Millas
          </div>
        </stats-card>
      </div>

      <div class="col-xl-3 col-md-6">
        <stats-card>
          <div slot="header" class="icon-success">
            <i class="nc-icon nc-money-coins text-success"></i>
          </div>
          <div slot="content">
            <p class="card-category">Revenue</p>
            <h4 class="card-title" id="taxi-total-amount"></h4>
          </div>
          <div slot="footer">
            <i class="fa fa-calendar-o"></i>Dolares
          </div>
        </stats-card>
      </div>

      <div class="col-xl-3 col-md-6">
        <stats-card>
          <div slot="header" class="icon-danger">
            <i class="nc-icon nc-watch-time text-danger"></i>
          </div>
          <div slot="content">
            <p class="card-category">Tiempo carrera</p>
            <h4 class="card-title" id="taxi-total-time"></h4>
          </div>
          <div slot="footer">
            <i class="fa fa-clock-o"></i>Horas
          </div>
        </stats-card>
      </div>

      <div class="col-xl-3 col-md-6">
        <stats-card>
          <div slot="header" class="icon-info">
            <i class="nc-icon nc-air-baloon text-primary"></i>
          </div>
          <div slot="content">
            <h5 class="card-title"><span id="taxi-jfk-distance"></span> &nbsp; <i class="fa fa-road"></i></h5>
            <h5 class="card-title"><span id="taxi-jfk-amount"></span> &nbsp; <i class="fa fa-money"></i></h5>
            <h5 class="card-title"><span id="taxi-jfk-time"></span> &nbsp; <i class="fa fa-hourglass"></i></h5>
          </div>
          <div slot="footer">
            <i class="fa fa-refresh"></i><span>Media hasta el aeropuerto</span>
          </div>
        </stats-card>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <chart-card id="taxi-journeys-container">
          <template slot="header">
            <h4 class="card-title">2014</h4>
            <p class="card-category">Total de trayectos</p>
          </template>
          <template slot="default">
            <div id="taxi-journeys"></div>
          </template>
          <template slot="footer">
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </template>
        </chart-card>
      </div>

      <div class="col-md-6">
        <chart-card id="taxi-demands-container">
          <template slot="header">
            <h4 class="card-title">2014 Sales</h4>
            <p class="card-category">All products including Taxes</p>
          </template>
          <div id="taxi-demands"></div>
          <template slot="footer">
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </template>
        </chart-card>
      </div>
    </div>
  </div>

</template>

<script>
    import StatsCard from "../Cards/StatsCard";
    import ChartCard from "../Cards/ChartCard";

    import * as d3 from 'd3'
    import * as crossfilter from 'crossfilter'
    import * as dc from 'dc'

    export default {
        name: "NyTaxisGraph",
        components: {
            StatsCard,
            ChartCard
        },
        data() {
            return {
                cf: null,
                charts: {
                    journeys: null,
                    demands: null
                },
            }
        },
        mounted() {
            const el = this
            d3.dsv(';', 'data/ny-taxis.csv')
                .then(function (dataset) {
                    el.initCharts(dataset)
                    window.addEventListener('resize', el.resizeChart)
                })
        },
        beforeDestroy() {
            // Unregister the event listener before destroying this Vue instance
            window.removeEventListener('resize', this.resizeChart)
        },
        methods: {
            initCharts(dataset) {
                dataset.forEach(d => {
                    d.trip_distance = +d.trip_distance
                    d.trip_time = +d.trip_time
                    d.total_amount = +d.total_amount
                })


                this.cf = crossfilter(dataset)

                this.initTexts()

                this.initChartJourneys()

                this.initChartDemands()

                dc.renderAll()
            },
            initTexts() {
                let statistics = this.cf.groupAll().reduce(
                    function (acc, d) {
                        ++acc.n;
                        acc.distance += d.trip_distance
                        acc.time += d.trip_time
                        acc.amount += d.total_amount
                        return acc;
                    },
                    function (acc, d) {
                        --acc.n;
                        acc.distance -= d.trip_distance
                        acc.time -= d.trip_time
                        acc.amount -= d.total_amount
                        return acc;
                    },
                    function () {
                        return {n: 0, distance: 0, amount: 0, time: 0};
                    }
                )
                let jfk = this.cf.groupAll()
                    .reduce(
                        function (acc, d) {
                            if (d.rate_code !== 'JFK') return acc

                            ++acc.n;
                            acc.distance += d.trip_distance
                            acc.time += d.trip_time
                            acc.amount += d.total_amount
                            return acc
                        },
                        function (acc, d) {
                            if (d.rate_code !== 'JFK') return acc

                            --acc.n
                            acc.distance -= d.trip_distance
                            acc.time -= d.trip_time
                            acc.amount -= d.total_amount
                            return acc
                        },
                        function () {
                            return {n: 0, distance: 0, amount: 0, time: 0}
                        }
                    )

                dc.numberDisplay('#taxi-total-distance')
                    .formatNumber(d3.format(",d"))
                    .valueAccessor(d => d.distance)
                    .group(statistics);
                dc.numberDisplay('#taxi-total-amount')
                    .formatNumber(d3.format(",.2d"))
                    .valueAccessor(d => d.amount)
                    .group(statistics);
                dc.numberDisplay('#taxi-total-time')
                    .formatNumber(d => "" + parseInt(d / 60 / 60) + ":" + parseInt(d / 60 % 60) + ":" + parseInt(d % 60))
                    .valueAccessor(d => d.time)
                    .group(statistics);

                dc.numberDisplay('#taxi-jfk-distance')
                    .formatNumber(d3.format(",d"))
                    .valueAccessor(d => d.n > 0 ? d.distance / d.n : 0)
                    .group(jfk);
                dc.numberDisplay('#taxi-jfk-amount')
                    .formatNumber(d3.format(",.2d"))
                    .valueAccessor(d => d.n > 0 ? d.amount / d.n : 0)
                    .group(jfk);
                dc.numberDisplay('#taxi-jfk-time')
                    .formatNumber(d => "" + parseInt(d / 60 / 60) + ":" + parseInt(d / 60 % 60) + ":" + parseInt(d % 60))
                    .valueAccessor(d => d.n > 0 ? d.time / d.n : 0)
                    .group(jfk);
            },
            initChartJourneys() {
                let dimension = this.cf.dimension(d => d.taxi_type)
                let group = dimension.group().reduceCount()

                this.charts.journeys = dc.pieChart('#taxi-journeys')
                    .slicesCap(4)
                    .height(400)
                    .ordinalColors(['yellow', 'green'])
                    .legend(dc.legend().autoItemWidth(true))
                    .dimension(dimension)
                    .group(group)

                this.sizeChart('journeys')
            },
            initChartDemands() {
                let dimension = this.cf.dimension(d => +d.pickup_hour)
                let groupFare = dimension.group().reduceSum(d => +d.fare_amount)
                let groupExtras = dimension.group().reduceSum(d => +d.total_amount - d.fare_amount)

                this.charts.demands = dc.lineChart('#taxi-demands')
                    .height(400)
                    .margins({top: 10, right: 50, bottom: 30, left: 80})
                    .x(d3.scaleLinear().domain([0, 23]))
                    .renderArea(true)
                    .yAxisLabel("Amount $$$")
                    .elasticY(true)
                    .renderHorizontalGridLines(true)
                    .legend(dc.legend().autoItemWidth(true))
                    .dimension(dimension)
                    .group(groupFare, 'Tarifa')
                    .stack(groupExtras, 'Extras')
                this.charts.demands.yAxis().ticks(10)

                this.sizeChart('demands')
            },
            sizeChart(chartKey) {
                const elm = document.getElementById('taxi-' + chartKey + '-container')
                if (elm) {
                    const newWidth = elm.offsetWidth
                    this.charts[chartKey].width(newWidth)
                }
            },
            resizeChart() {
                Object.keys(this.charts).forEach(k => {
                    this.sizeChart(k)
                    this.charts[k].transitionDuration(this.charts[k].transitionDuration() / 2)
                })

                dc.renderAll()

                Object.keys(this.charts).forEach(k => {
                    this.charts[k].transitionDuration(this.charts[k].transitionDuration() * 2)
                })
            }
        }
    }
</script>

<style scoped>

</style>
