<template>
  <iframe width="100%" height="800" frameborder="0"
          src="https://oxkhar.carto.com/builder/d65c23a8-c1b3-41c5-bfbd-028d399a877a/embed"
          allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</template>

<script>
    export default {
        name: "CartoActivity"
    }
</script>

<style scoped>

</style>