<template>
  <iframe width="100%" height="800" frameborder="0"
          src="https://oxkhar.carto.com/builder/f12dfbea-5087-4fad-bb93-b265138fad44/embed"
          allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</template>

<script>
    export default {
        name: "CartoMap"
    }
</script>

<style scoped>

</style>