<template>
  <div class="content">
    <NyTaxisGraph />
  </div>
</template>
<script>
    import NyTaxisGraph from "../components/Graph/NyTaxisGraph";

    export default {
        components: {
            NyTaxisGraph
        }
    }
</script>
<style>

</style>
